.jumbotron{
   margin-top: 10px;
}
.container, .container-fluid{
    background-color:#E4E4E4;
}
.nav{
    background-color: #fff;
}
.active{
    border-bottom-style: solid;
    border-color: orange;
}