.jumbotron{
   margin-top: 10px;
}
.nav{
    background-color: #fff;
}
.active{
    border-bottom-style: solid;
    border-color: #00f;
}
.nav-item{
    margin-left: 40px;
}
.navbar-brand{
    margin-left: 70px;
}
#collapsibleNavbar{
    margin-left: 200px;
}
.nav-item > a {
    text-decoration: none;
}
.card{
    margin: 2.5px;
}
 