.jumbotron{
   margin-top: 10px;
   width: 100%;
}
.nav{
    background-color: #fff;
}
.active{
    border-bottom-style: solid;
    border-color: #007bff;
}
.active-succes{
    border-color: #28a745;
}
.active-warning{
    border-color: #ffc107;
}
.active-danger{
    border-color: #dc3545;
}
.nav-item{
    margin-left: 40px;
}
.navbar-brand{
    margin-left: 70px;
}
#collapsibleNavbar{
    margin-left: 200px;
}
.nav-item > a {
    text-decoration: none;
}
.card{
    margin: 2.5px;
}
a{
    text-decoration: none;
    
}
a:hover{
    text-decoration: none;
}
.jb-entete{
    margin-top: 15px;
}
.spytest{
    width: 100%;
    height: 500px;
}
.vt-text{
    padding-top: 60px;
}
.vt-card{
    border-color: lightgreen;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.vt-card-1{
    margin-top: 15px;
}
 